<!DOCTYPE html>
<html>
    <body>
        <h1><center>
                Prover API
            </center></h1>
            <h2><center>
                Keyword Search In Proverbs
            </center></h2>
        <p>The keyword you searched for is "{{kywd}}".</p>
        {% if len_result == 0 %}
            <p>Proverb do not exist for this keyword.</p>
        {% else %}
            <p>Proverb(s) for this keyword are : </p>
            {% for ln in result %}
                {% for item in ln%}
                    <li>&emsp; {{item}}</li>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </body>
</html>